.available-countries {
    width: 70%;

    .icon-wiggly-arrow {
        font-size: 0.5rem;
    }

    .available-title-box {
        @include flex(row, space-between, last baseline);
    }

    .countries-list {
        @include flex(row, space-between, center, 1rem);
        margin-top: 1rem;

        .available-country {
            border: 1px solid $border;
            padding: 2rem;
            margin: 1rem 0 0 0;
            @include flex(column, space-evenly, start, 1rem);
            border-radius: 20px;
            width: 24%;

            img {
                width: 3rem;
            }

            .card-ticks {
                @include flex(column, space-evenly, start, 1rem);

                .card-tick {
                    @include flex(row, baseline, center);
                }

                .icon-tick {
                    font-size: 0.6rem;
                    margin-right: 1rem;
                }

                .icon-tick::before {
                    color: $primary
                }

                p {
                    font-size: 0.8rem;
                    color: $sub-text;
                }
            }
        }
    }
}