.blogs {
    @include flex(column, space-between, normal, 2rem);
    @include layout();

    .countries-hello {
        @include respond-to(mobile) {
            @include flex(column, space-between, start)
        }
    }

    .blogs-list {
        @include flex(row, space-between, center, 1.5rem);

        .blog {
            @include flex(column, normal, center);
            @include card($border, $background, $text, 0, 0, 32%);

            .blog-info {
                @include flex(column, space-between, normal, 1rem);

                .blog-details {
                    @include flex(row, space-between, center);
                    color: $text;
                    font-size: 0.8rem;

                    [class^="icon"]:before {
                        color: $text
                    }

                    .date,
                    .admin {
                        @include flex(row, normal, center, 0.25rem);

                        p,
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }

                .blog-text {
                    font-size: 0.8rem;
                    color: $sub-text;
                }
            }

            img {
                width: 100%;
            }

            @include respond-to(mobile) {
                width: 80%
            }
        }

        @include respond-to(mobile) {
            @include flex(row, space-around, center, 1rem, wrap);
        }
    }
}