.blogs {
    @include flex(column, space-between, normal, 2rem);
    width: 70%;

    .blogs-list {
        @include flex(row, space-between, center, 1.5rem);

        .blog {
            @include flex(column, normal, center);
            width: 32%;
            border: 1px solid $border;
            border-radius: 20px;

            .blog-info {
                @include flex(column, space-between, normal, 1rem);
                padding: 2rem;

                .blog-details {
                    @include flex(row, space-between, center);
                    color: $black;
                    font-size: 0.8rem;

                    .date,
                    .admin {
                        @include flex(row, normal, center, 0.25rem);

                        p,
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }

                .blog-text {
                    font-size: 0.8rem;
                    color: $sub-text;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}