.coaching {
    width: 70%;
    @include flex(column, space-between, normal, 2rem);

    .carousel-icon {
        background-color: $secondary;
        border: 1px solid $secondary;

        &:hover {
            background-color: transparent;
            border: 1px solid $secondary;

            .icon-right-arrow:before,
            .icon-left-arrow:before {
                color: $secondary;
            }
        }
    }

    .coaching-categories {
        @include flex(row, space-between, normal, 2rem);
        width: 100%;

        .coaching-category {
            position: relative;

            img {
                width: 100%;
            }

            .coaching-details {
                background-color: $white;
                border-radius: 20px 0 20px 20px;
                bottom: -4rem;
                right: 0;
                width: 95%;
                padding: 1.5rem;
                position: absolute;
                @include flex(row, space-between, center);

                .card-title {
                    font-size: 1.2rem;
                }

                .link-container {
                    background-color: transparent;
                    border: 1px solid $secondary;
                    height: 50%;
                    width: fit-content;
                    padding: 1rem;
                    border-radius: 20px;
                    @include flex(row, justify-content, center);

                    .icon-link {
                        height: 50%;
                    }

                    .icon-link:before {
                        color: $secondary;
                        font-size: 0.8rem;
                    }

                    &:hover {
                        background-color: $secondary;
                        border: 1px solid transparent;
                        cursor: pointer;

                        .icon-link:before {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}