.coaching {
    width: 70%;
    @include flex(column, space-between, normal, 2rem);

    .coaching-categories {
        @include flex(row, space-between, normal, 2rem);
        width: 100%;

        .coaching-category {
            position: relative;

            img {
                width: 100%;
            }

            .coaching-details {
                background-color: $sub-background;
                border-radius: 20px 0 20px 20px;
                bottom: -4rem;
                right: 0;
                width: 95%;
                padding: 1.5rem;
                position: absolute;
                @include flex(row, space-between, center);
            }
        }
    }
}