.countries {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50px;
    border: none;
    margin: 1rem 0;
    width: 100%;
    @include flex(row, normal, center);

    .countries-container {
        @include layout();
        @include flex(column);

        .countries-imgs-container {
            @include flex(row, space-between, normal, 1rem, nowrap);
            width: 100%;
            padding: 2rem 0 0;

            [class$="-img"] {
                position: relative;

                & .countries__img {
                    height: 100%;
                    width: 100%;
                }

                [class$="-flag"] {
                    position: absolute;
                    top: 1.25rem;
                    right: 1.5rem;

                    @include respond-to(mobile) {
                        top: 0.25rem;
                        right: 0.25rem;
                        width: 50%
                    }
                }

                .bangladesh-flag {
                    @include respond-to(mobile) {
                        width: 25%
                    }
                }
            }

            .working-visa {
                @include flex(column, space-between, normal, 0.6rem);
                background-color: var(--secondary);
                color: var(--sub-background);
                margin: 1rem;
                padding: 1.5rem 1rem;
                border-radius: 20px;
                position: absolute;
                bottom: 0;
                width: calc(100% - 3rem);

                & p:last-of-type {
                    font-size: 0.75rem;
                    font-weight: 400;
                }

                @include respond-to(mobile) {
                    visibility: hidden;
                }
            }
        }

        @include respond-to(mobile) {
            width: 80%;
            margin: 2rem auto;

            .countries-hello {
                @include flex(column, space-between, start, 1rem);
            }
        }
    }
}