.CTA {
    @include flex(row, space-between, normal, 2rem);
    width: 70%;

    .CTA-img {
        width: 35%;
        height: auto;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .side-CTA {
        width: 65%;
        @include flex(column, space-between, normal, 2rem);

        .CTA-offers {
            border-radius: 20px;
            background-color: $white;
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            @include flex(row, space-between);

            img {
                width: 35%;
                height: 100%;
                object-fit: cover;
            }

            .CTA-offers-details {
                @include flex(column, space-around);
                padding: 2rem;
                background-color: $sub-background;
            }
        }

        .CTA-stats {
            border-radius: 20px;
            background-color: $secondary;
            width: 100%;
            @include flex(row, space-evenly);
            padding: 2.5rem 1.5rem;

            .CTA-stat {
                @include flex(column);
                text-align: center;
                color: $white;

                .CTA-number {
                    font-size: 2.2rem;
                    font-weight: 700;
                }

                .CTA-desc {
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
        }
    }
}