.cta {
    @include flex(row, space-between, normal, 2rem);
    @include layout();

    .cta__img {
        width: 35%;
        height: auto;
        height: 100%;
        object-fit: cover;

        @include respond-to(mobile) {
            width: 50%;
            height: 50%;
        }
    }

    .side-cta {
        width: 65%;
        @include flex(column, space-between, normal, 2rem);

        .cta-offers {
            border-radius: 20px;
            background-color: var(--sub-background);
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            @include flex(row, space-between, center);

            .cta-offers__img {
                width: 35%;
                height: 100%;
                object-fit: cover;
            }

            .cta-offers-details {
                @include flex(column, space-around);
                padding: 2rem;
                background-color: var(--sub-background);
            }
        }

        .cta-stats {
            border-radius: 20px;
            background-color: var(--secondary);
            width: 100%;
            @include flex(row, space-evenly);
            padding: 2.5rem 1.5rem;

            .cta-stat {
                @include flex(column);
                text-align: center;
                color: var(--white);

                .cta-number {
                    font-size: 2.2rem;
                    font-weight: 700;
                }

                .cta-desc {
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
        }

        @include respond-to(mobile) {
            width: 100%;
        }
    }

    @include respond-to(mobile) {
        @include flex(column, space-between, center, 1rem);
    }
}