footer {
    background-color: var(--primary);
    color: var(--white);
    position: relative;
    left: -2rem;
    width: calc(100% + 4rem);
    margin-top: 2rem;
    @include flex(column, space-between);

    .footer-map {
        @include flex(column);
        color: var(--primary);
        border-radius: 50px;
        border: none;
        width: 100%;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 100%;
            background-image: url('/john/travel-page/assets/images/global.png');
            background-size: contain;
            background-repeat: no-repeat;
            pointer-events: none;
            z-index: -1;
        }
    }

    .footer-qs {
        @include flex(row, space-between);
        width: calc(70% - 4rem);
        margin: 0 auto;
        padding: 1rem 0;

        .vertical-line {
            margin: 0 1rem;
            border: 1px solid white;
            opacity: 0.2;
        }

        .footer-qs-object {
            @include flex(row, normal, center, 1rem);
            width: 40%;

            .footer-qs-title {
                font-size: 1.5rem;
                font-weight: 600;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }

        @include respond-to(mobile) {
            @include flex(column, normal, normal, 1rem);
            width: 80%;
            margin: 0 auto;
        }
    }

    .footer-links {
        font-size: 0.8rem;
        width: calc(70% - 4rem);
        margin: 0 auto;
        @include flex(row, space-between, start);
        padding: 2rem 0;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        position: inherit;
        z-index: 2;

        .footer-links-col {
            @include flex(column, space-between, normal, 2rem);
            width: 22%;
            padding: 3rem 0;

            .footer-text {
                color: var(--white);
            }

            .email {
                background-color: var(--black);
                border-radius: 999px;
                height: 3rem;
                position: relative;
                @include flex(row, normal, center);

                .email__input {
                    background-color: var(--black);
                    width: 100%;
                    height: 100%;
                    color: var(--white);
                    padding: 1rem 4rem 1rem 1rem;
                    border-radius: 999px;
                    border: none;

                    &::placeholder {
                        color: var(--white);
                    }
                }

                .icon-send-container {
                    position: absolute;
                    right: 0;
                    background-color: var(--secondary);
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    @include flex(row, center, center);
                    border: none;
                    cursor: pointer;
                }
            }

            .footer-links-col-content {
                @include flex(column, normal, normal, 1rem);

                .footer-col__link {
                    @include flex(row, normal, center);
                    color: var(--white);
                    text-decoration: none;
                    cursor: pointer;
                }

                .icon-tick {
                    font-size: 0.7rem;
                    margin-right: 1rem;

                    &::before {
                        color: var(--secondary);
                    }
                }
            }

            .footer__logo {
                width: 50%;
            }

            .social-media {
                @include flex(row, normal, normal, 1rem);

                .footer-col__link {
                    text-decoration: none;
                }

                [class^="icon-"]:before {
                    color: white;
                }
            }
        }

        @include respond-to(mobile) {
            width: 80%;
            margin: 0 auto;
            @include flex(column, space-around, center, 1rem);

            .footer-links-col {
                width: 100%;
                padding: 0;
            }
        }
    }

    .footer-policy {
        position: inherit;
        z-index: 2;
        width: calc(70% - 4rem);
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.8);

        .footer-policy-links {
            @include flex(row, space-between, normal, 1rem);
        }

        .footer-col__link {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }

        @include respond-to(mobile) {
            width: 80%;
            @include flex(column, space-around, normal, 1rem)
        }
    }
}