footer {
    background-color: $primary;
    color: $white;
    position: relative;
    left: -2rem;
    width: calc(100% + 4rem);
    margin-top: 2rem;
    @include flex(column, space-between);

    .footer-map {
        position: relative;
        overflow: hidden;
    }

    .footer-shape {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        position: absolute;
    }

    .footer-qs {
        @include flex(row, space-between);
        width: calc(70% - 4rem);
        margin: 0 auto;
        padding: 1rem 0;

        .vertical-line {
            margin: 0 1rem;
            border: 1px solid white;
            opacity: 0.2;
        }

        .footer-qs-object {
            @include flex(row, normal, center, 1rem);
            width: 40%;

            p {
                font-size: 1.5rem;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }

        @include respond-to(mobile) {
            @include flex(column, normal, normal, 1rem);
            width: 80%;
            margin: 0 auto;
        }
    }

    .footer-links {
        font-size: 0.8rem;
        width: calc(70% - 4rem);
        margin: 0 auto;
        @include flex(row, space-between, start);
        padding: 2rem 0;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        position: inherit;
        z-index: 2;

        .footer-links-col {
            @include flex(column, space-between, normal, 2rem);
            width: 22%;
            padding: 3rem 0;

            .email {
                background-color: $black;
                border-radius: 999px;
                height: 3rem;
                position: relative;
                @include flex(row, normal, center);

                p {
                    margin: 1rem;
                    color: $white;
                }

                .icon-send-container {
                    position: absolute;
                    right: 0;
                    background-color: $secondary;
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    @include flex(row, center, center);
                }
            }

            .footer-links-col-content {
                @include flex(column, normal, normal, 1rem);

                p {
                    @include flex(row, normal, center);
                    cursor: pointer;
                }

                .icon-tick {
                    font-size: 0.7rem;
                    margin-right: 1rem;
                }
            }

            img {
                width: 50%;
            }

            .social-media {
                @include flex(row, normal, normal, 1rem);

                a {
                    text-decoration: none;
                }

                [class^="icon-"]:before {
                    color: white;
                }
            }
        }

        @include respond-to(mobile) {
            width: 80%;
            margin: 0 auto;
            @include flex(column, space-around, center, 1rem);
            // padding: 0;

            .footer-links-col {
                width: 100%;
                padding: 0;

                img {
                    width: 25%;
                }
            }
        }
    }

    .footer-policy {
        position: inherit;
        z-index: 2;
        width: calc(70% - 4rem);
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.8);

        .footer-policy-links {
            @include flex(row, space-between, normal, 1rem);
        }

        a {
            text-decoration: none;
            color: white;
        }

        @include respond-to(mobile) {
            width: 80%;
            @include flex(column, space-around, normal, 1rem)
        }
    }
}