footer {
    background-color: $primary;
    color: $white;
    position: relative;
    left: -2em;
    width: calc(100% + 4em);
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer-map {
        position: relative;
        overflow: hidden;
    }

    .footer-shape {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        position: absolute;
    }

    .footer-qs {
        display: flex;
        width: calc(70% - 4em);
        margin: 0 auto;
        padding: 1em 0;
        justify-content: space-between;

        .vertical-line {
            margin: 0 1em;
            border: 1px solid white;
            opacity: 0.2;
        }

        .footer-qs-object {
            display: flex;
            align-items: center;
            gap: 1em;

            .why-card-icon {
                width: 4em;
                height: 4em;

                span {
                    font-size: 2em;
                }

                .icon-flight:before {
                    color: $white;
                }
            }

            p {
                font-size: 1.5em;
            }
        }
    }

    .footer-links {
        font-size: 0.8em;
        width: calc(70% - 4em);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2em 0;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);

        .footer-links-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 22%;
            gap: 2em;
            padding: 3em 0;

            .email {
                background-color: $black;
                border-radius: 999px;
                height: 3em;
                position: relative;
                display: flex;
                align-items: center;

                p {
                    margin: 1em;
                    color: $white;
                }

                .icon-send-container {
                    position: absolute;
                    right: 0;
                    background-color: $secondary;
                    border-radius: 100%;
                    width: 3em;
                    height: 3em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .footer-title {
                font-size: 1.2em;
                font-weight: 700;
            }

            .footer-links-col-content {
                display: flex;
                flex-direction: column;
                gap: 1em;

                p {
                    display: flex;
                    align-items: center;
                }

                .icon-tick {
                    font-size: 0.7em;
                    margin-right: 1em;
                }
            }

            img {
                width: 50%;
            }

            .social-media {

                .icon-x:before,
                .icon-fb:before,
                .icon-ig:before,
                .icon-in:before {
                    color: white;
                }
            }
        }
    }

    .footer-policy {
        width: calc(70% - 4em);
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.8);

        .footer-policy-links {
            display: flex;
            justify-content: space-between;
            gap: 1em;
        }
    }
}