.offerings {
    @include flex(row, space-between);
    width: 100%;
    margin: 2rem 0 0;
}

.nav-item {
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

.welcome {
    background-color: $primary;
    color: $white;
    border-radius: 50px;
    border: none;
    margin: 1rem 0;
    width: 100%;
    @include flex(row, normal, center);
    padding: 0 0 0 15rem;
    position: relative;
    height: 80vh;
    color: $sub-background
}

#eiffel-1,
#eiffel-2 {
    width: 21rem;
    position: absolute;
    display: inline-block;
}

#eiffel-1 {
    bottom: 0;
    left: 0;
}

#eiffel-2 {
    bottom: 0;
    right: 6.5rem;
    z-index: 10;
}

#man {
    width: 26rem;
    position: absolute;
    bottom: 0;
    right: 13.5rem;
    z-index: 11;
    display: inline-block;
}

#circle {
    width: 28rem;
    position: absolute;
    bottom: 0;
    right: 10rem;
    display: inline-block;
}

.icon-play {
    @include flex(row, center, center);
    text-decoration: none;
    padding: 0.6rem 0.5rem 0.6rem 0.75rem;
    border-radius: 100%;
    background-color: #3A4BB4;
    text-align: center;
}

.hero-buttons {
    @include flex(row, normal, center, 1px);
}