.process {
    @include flex(column, normal, center);
    background-color: $white;
    color: $primary;
    border-radius: 50px;
    border: none;
    margin: 10rem 0 5rem 0;
    width: 100%;
    position: relative;
    overflow: hidden;

    .process-shape {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 30%;
        position: absolute;
    }

    .process-container {
        @include flex(column, space-between, normal, 2rem);
        z-index: 2;
        width: 70%;
        margin: 4rem auto;

        .process-cards {
            margin: 1rem 0;
            @include flex(row, space-between, normal, 2rem);

            .process-card {
                @include flex(column, normal, normal, 1rem);
                box-shadow: 0px 0px 5px 0px lightgray;
                border-radius: 20px;
                padding: 2rem;
                margin: 0 0 2rem 0;
                background-color: $white;

                span {
                    font-size: 2rem;
                }

                .process-card-title {
                    font-size: 1.2rem;
                    font-weight: 700;
                }

                .process-card-text {
                    font-size: 0.8rem;
                }
            }

            .process-card-down {
                margin: 2rem 0 0 0;
            }
        }
    }
}