.team {
    background-color: $white;
    color: $primary;
    border-radius: 50px;
    border: none;
    margin: 10rem 0 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .teams-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 50%;
    }

    .team-container {
        z-index: 2;
        width: 70%;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        .team-details {
            display: flex;
            gap: 2rem;

            .team-text {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 100%;
                flex: 2;

                .team-object {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid $border;
                    width: 100%;
                    padding: 1rem 2rem;
                    border-radius: 20px;
                    z-index: 3;
                    background-color: $white;

                    .team-object-text {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;

                        .card-title {
                            font-size: 1.2rem;
                        }

                        .card-text {
                            font-size: 0.9rem;
                            margin: 1rem 0 0 0;
                        }
                    }

                    .carousel-icon {
                        background-color: transparent;
                        border: 1px solid $secondary;

                        .icon-right-arrow:before,
                        .icon-left-arrow:before {
                            color: $secondary;
                        }

                        &:hover {
                            background-color: $secondary;
                            border: 1px solid transparent;

                            .icon-right-arrow:before,
                            .icon-left-arrow:before {
                                color: white;
                            }
                        }
                    }
                }
            }

            .team-img {
                flex: 1;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .social-media {
                    position: absolute;
                    margin: auto;
                    bottom: 2.5rem;
                    background-color: $white;
                    border-radius: 20px;
                    width: fit-content;
                    padding: 0.5rem 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                }

                img {
                    width: 100%
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }
}