.team {
    @include flex(column);
    background-color: var(--sub-background);
    color: var(--primary);
    border-radius: 50px;
    border: none;
    margin: 10rem 0 5rem 0;
    width: 100%;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/john/travel-page/assets/images/team-shape.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: var(--opacity);
        pointer-events: none;
        z-index: -1;
    }

    .team-container {
        @include flex(column, space-between, normal, 2rem);
        @include layout();
        z-index: 2;

        .team-details {
            @include flex(row, normal, normal, 2rem);

            .team-text {
                @include flex(column, normal, normal, 1.5rem);
                @include layout(70%, 0, 0);
                flex: 2;

                .team-object {
                    @include flex(row, space-between, center);
                    border: 1px solid var(--border);
                    width: 100%;
                    padding: 1rem 2rem;
                    border-radius: 20px;
                    z-index: 3;
                    background-color: var(--sub-background);

                    .team-object-text {
                        @include flex(column, space-around, normal, 0.5rem);

                        .card__text {
                            margin: 0;
                        }
                    }
                }
            }

            .team-img {
                position: relative;
                @include flex(column, normal, center);
                width: 30%;

                .social-media {
                    position: absolute;
                    margin: auto;
                    bottom: 2.5rem;
                    background-color: var(--sub-background);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 0.5rem 1rem;
                    @include flex(row, space-between, center, 1rem);

                    [class^="icon-"]:before,
                    [class^="icon-"]:after {
                        color: var(--primary);
                    }
                }

                .team__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .social-media__link {
                    text-decoration: none;
                }

                @include respond-to(mobile) {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            @include respond-to(mobile) {
                @include flex(column, normal, normal, 2rem);
            }
        }

        @include respond-to(mobile) {
            width: 80%;
        }
    }
}