.testimonial {
    width: 70%;
    @include flex(row, space-between, normal, 1rem);

    .testimonial-img {
        width: 40%;

        img {
            width: 100%;
        }
    }

    .testimonial-details {
        width: 60%;
        background-color: $secondary;
        color: $white;
        @include flex(column, space-between);
        border-radius: 20px;
        padding: 3rem;

        .icon-quotes {
            font-size: 2rem;
        }

        .testimonial-text {
            font-size: 1.5rem;
        }

        .testimonial-contact {
            @include flex(row, normal, center, 0.5rem);

            img {
                transform: scale(0.8);
            }

            .testimonial-contact-details {
                @include flex(column, space-between, center, 0.5rem);

                .testimonial-name {
                    font-weight: 700;
                }

                .testimonial-pos {
                    font-size: 0.8rem;
                }
            }
        }

        .testimonial-nav {
            @include flex(row, normal, center, 1rem);

            hr {
                color: white;
                border: 1px solid $white;
                width: 100%;
                height: 1px;
            }

            .carousel-icon {
                background-color: $white;
                border: 1px solid $white;

                .icon-right-arrow:before,
                .icon-left-arrow:before {
                    color: $secondary;
                }

                &:hover {
                    background-color: $secondary;

                    .icon-right-arrow:before,
                    .icon-left-arrow:before {
                        color: $white;
                    }
                }
            }
        }
    }
}