.testimonial {
    width: 70%;
    @include flex(row, space-between, normal, 1rem);

    .testimonial-img {
        width: 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .testimonial-details {
        @include card($secondary, $secondary, $sub-background, 3rem, 3rem, 60%);
        @include flex(column, space-between);

        .icon-quotes::before {
            color: $sub-background
        }

        .icon-quotes {
            font-size: 2rem;
        }

        .testimonial-text {
            font-size: 1.5rem;
        }

        .testimonial-contact {
            @include flex(row, normal, center, 0.5rem);

            img {
                transform: scale(0.8);
            }

            .testimonial-contact-details {
                @include flex(column, space-between, normal, 0.5rem);

                .testimonial-name {
                    font-weight: 700;
                }

                .testimonial-pos {
                    font-size: 0.8rem;
                }
            }
        }

        .testimonial-nav {
            @include flex(row, normal, center, 1rem);

            hr {
                border: 1px solid $sub-background;
                width: 100%;
            }
        }
    }
}