.visa {
    @include flex(column, space-between);
    width: 70%;

    .visa-cards {
        @include flex(row, space-between, normal, 1rem, wrap);
    }
}


.card--md {
    img {
        width: 40%;
    }

    .card__text {
        font-size: 0.8rem;
    }

    .visa-card-details {
        margin-right: 1rem;
    }

    .visa-card-icons {
        @include flex(row, space-between, center);

        span[class^="icon-"]:not(.icon-link):before {
            color: $primary;
        }
    }

    [class^="icon"]:not(.icon-link) {
        font-size: 2.5rem;
    }
}