.visa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.visa-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.visa-card {
    border: 1px solid $border;
    width: 49%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 2rem;

    img {
        width: 40%;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .visa-card-details {
        margin-right: 1rem;
    }

    .visa-card-icons {
        display: flex;
        justify-content: space-between;
    }

    .link-container {
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid $secondary;
        padding: 1rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
            border: 1px solid $white;

            .icon-link::before {
                color: white;
            }
        }

        span {
            font-size: 0.75rem;
        }
    }

    .icon-privacy,
    .icon-location,
    .icon-route,
    .icon-flight {
        font-size: 2.5rem;
    }
}