.why-us {
    // height: fit-content;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.why-us-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.why-us-images {
    display: flex;
    width: 45%;
}

.why-us-images-1,
.why-us-images-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.exp {
    background-color: $secondary;
    color: $white;
    display: flex;
    width: 90%;
    border-radius: 20px;
    padding: 2em;
    align-items: center;
}

.exp-number {
    font-size: 2em;
    font-weight: 700;
    margin-right: 0.5em;
}

.exp-text {
    font-size: 1.2em;
}

.why-us-images {
    width: 45%;

    img {
        width: 90%;
    }
}

.why-us-text {
    width: 52%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.why-us-companies {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

.why-us-title {
    color: $black;
    line-height: 90%;
}

.why-us-title-primary {
    color: $primary;
}

.two-cards {
    display: flex;
    justify-content: space-between;
}

.why-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    width: 48%;
    border-radius: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.why-card-head {
    display: flex;
    align-items: center;
}

.why-card-title {
    color: $primary;
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
}

.why-card-text-details {
    color: $sub-text;
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
}

.why-card-text {
    margin: 0 0.5em 0.5em 0;
    color: $sub-text;
    font-size: 0.9em;
}

.why-card-text .icon-tick:before {
    color: $secondary;
    margin-right: 0.5em;
}

.why-more {
    display: flex;
    align-items: center;
}

.why-icon {
    width: 3em;
    height: 3em;
    background-color: $secondary;
    border-radius: 100%;
    padding: 0.8em;
}

.why-icon span {
    font-size: 1.5em;
    text-align: center;
}

.help {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.why-us-image-1-parent {
    position: relative
}

.why-us-image-1-frame {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
}

.why-card-icon {
    width: 3em;
    height: 3em;
    background-color: $secondary;
    border-radius: 100%;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 1.5em;
    }
}