.why-us {
    @include flex(column);
    @include layout();

    .why-us-details {
        @include flex(row, space-between);
        width: 100%;

        @include respond-to(mobile) {
            @include flex(column, space-between, normal, 1rem);
        }

        .why-us-images {
            @include flex();
            width: 45%;

            @include respond-to(mobile) {
                width: 100%
            }

            img {
                width: 90%;
            }

            .why-us-images-1,
            .why-us-images-2 {
                @include flex(column, space-between, center, 1rem);
            }

            .why-us-image-1-parent {
                position: relative
            }

            .why-us-image-1-frame {
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: 100%;
            }

            .exp {
                @include flex(row, normal, center);
                background-color: $secondary;
                color: $sub-background;
                width: 90%;
                border-radius: 20px;
                padding: 2rem;

                .exp-number {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-right: 0.5rem;
                }

                .exp-text {
                    font-size: 1.2rem;
                }
            }
        }

        .why-us-text {
            @include flex(column, space-between, normal, 0.5rem);
            width: 52%;

            .two-cards {
                @include flex(row, space-between, normal, 1rem);

                .why-card-head {
                    @include flex(row, normal, center);
                }

                .icon-tick:before {
                    color: $secondary;
                    margin-right: 0.5rem;
                }
            }

            .why-more {
                @include flex(row, normal, center);

                .help {
                    @include flex(column, normal, left);
                    margin-left: 1rem;
                }
            }

            @include respond-to(mobile) {
                width: 100%
            }
        }
    }

    .why-us-companies {
        @include flex(row, space-between);
        margin-top: 4rem;

        @include respond-to(mobile) {
            @include flex(row, space-around, center, 0, wrap)
        }
    }
}

@include respond-to(mobile) {}