@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    font-size: 16px;

    @include respond-to(mobile) {
        font-size: 12px;
    }

    @include respond-to(tablet) {
        font-size: 14px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    transition: all 150ms linear;
}

body,
html {
    width: 100%;
}

body {
    font-family: $font-stack;
    color: $primary;
    padding: 2rem 2rem 0 2rem;
    background-color: $background;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}