@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    transition: all 250ms linear;
    font-size: 16px;
}

body,
html {
    width: 100%;
}

body {
    font-family: $font-stack;
    color: $primary;
    padding: 2rem 2rem 0 2rem;
    background-color: $background;
}