* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans'
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: $font-stack;
    color: $primary;
    width: 100%;
    padding: 2em;
    background-color: $background;
}