.btn {
    display: inline-block;
    padding: 1em 1.5em;
    color: #fff;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    background-color: $secondary;
}

.nav-item {
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}