.btn {
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

.contained-btn {
    color: $white;
    border: 1px solid transparent;
    background-color: $secondary;
}

.contained-btn:hover {
    color: $secondary;
    border: 1px solid $secondary;
    background-color: $white;
}

.contained-btn:hover .icon-right-arrow:before {
    color: $secondary;
}

.outlined-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
}

.outlined-btn:hover {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
}

.outlined-btn:hover .icon-right-arrow:before {
    color: $primary;
}

.outlined-btn-sec {
    background-color: transparent;
    border: 1px solid $secondary;
    color: $secondary;
}

.outlined-btn-sec .icon-right-arrow:before {
    color: $secondary;
}

.outlined-btn-sec:hover {
    background-color: $secondary;
    color: $white;
    border: 1px solid $white;
}

.outlined-btn-sec:hover .icon-right-arrow:before {
    color: $white;
}

.text-btn {
    background-color: transparent;
    color: $white;
    border: none;
}

.text-btn:hover {
    text-decoration: underline;
}

.contained-btn:hover span {
    color: $primary;
}

.nav-item {
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

.clickable {
    cursor: pointer;
}

.welcome,
.countries-container {
    background-color: $primary;
    color: $white;
    border-radius: 50px;
    border: none;
    margin: 1em 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.welcome {
    padding: 0 0 0 15em;
    position: relative;
    height: 80vh;
}

.welcome h2 {
    font-weight: 800;
    font-size: 3.5em;
}

#eiffel-1,
#eiffel-2 {
    width: 21em;
    position: absolute;
    display: inline-block;
}

#eiffel-1 {
    bottom: 0;
    left: 0;
}

#eiffel-2 {
    bottom: 0;
    right: 6.5em;
    z-index: 10;
}

#man {
    width: 26em;
    position: absolute;
    bottom: 0;
    right: 13.5em;
    z-index: 11;
    display: inline-block;
}

#circle {
    width: 28em;
    position: absolute;
    bottom: 0;
    right: 10em;
    display: inline-block;
}

.icon-play {
    text-decoration: none;
    padding: 10px 8px 10px 12px;
    border-radius: 100%;
    background-color: #3A4BB4;
    text-align: center;
}

.offerings {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
    width: 32%;
    border-radius: 20px;
}

.card-icon {
    width: 4em;
    height: 4em;
    background-color: $secondary;
    border-radius: 100%;
    padding: 1em;
    margin: 1em 0;
}

.card-icon span {
    font-size: 2em;
}

.card-title {
    color: $primary;
    font-size: 1.5em;
    font-weight: 700;
}

.card-text {
    color: $sub-text;
    margin: 1em 0;
}

.why-us {
    width: 70%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
}

.why-us-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.why-us-images {
    display: flex;
    width: 45%;
    gap: 1em;
}

.why-us-images-1,
.why-us-images-2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.exp {
    background-color: $secondary;
    color: $white;
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 2em;
    align-items: center;
}

.exp-number {
    font-size: 2em;
    font-weight: 700;
    margin-right: 0.5em;
}

.exp-text {
    font-size: 1.2em;
}

.why-us-images {
    width: 41%;

    img {
        width: 100%;
    }
}

.why-us-text {
    width: 55%;
}

.why-us-companies {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

.section-title {
    color: $primary;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-left: 0.5em;
    font-weight: 700;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
}

.why-us-title {
    color: $black;
}

.why-us-title-primary {
    color: $primary;
}

.two-cards {
    display: flex;
    justify-content: space-between;
}

.why-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    width: 49%;
    border-radius: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.why-card-head {
    display: flex;
    align-items: center;
}

.why-card-title {
    color: $primary;
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
}

.card-text .icon-tick:before {
    color: $secondary;
    margin-right: 0.5em;
}

.why-more {
    display: flex;
    align-items: center;
}

.why-icon {
    width: 3em;
    height: 3em;
    background-color: $secondary;
    border-radius: 100%;
    padding: 0.8em;
    margin: 1em 0;
}

.why-icon span {
    font-size: 1.5em;
    text-align: center;
}

.help {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.countries .section-title,
.countries .icon-brochures:before {
    color: $white;
}

.countries {
    width: 70%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
}

.countries-title {
    width: 50%;
}

.carousel-icon {
    width: 2em;
    height: 2em;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid $white;
    margin: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-icon .icon-right-arrow:before,
.carousel-icon .icon-left-arrow:before {
    color: $white;
}

.carousel-icon .icon-left-arrow:before {
    font-size: 1.5em;
}

.carousel-icon .icon-right-arrow:before {
    font-size: 0.9em;
}

.carousel-icon:hover {
    background-color: $secondary;
    border: 1px solid $secondary;
}

.carousel-icons {
    display: flex;
    gap: 1em;
}

.countries-hello {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.countries-imgs-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0 0;
    gap: 15px;
}

.canada-img img,
.australia-img img,
.usa-img img,
.sri-lanka-img img {
    height: 100%;
    width: 95%;
}

.canada-img,
.australia-img,
.usa-img,
.sri-lanka-img,
.bangladesh-img {
    position: relative;
}

.bangladesh-img img {
    height: 100%;
    width: 95%;
}

.canada-flag,
.bangladesh-flag,
.australia-flag,
.usa-flag,
.sri-lanka-flag {
    position: absolute;
    top: 20px;
    right: 30px;
}

.working-visa {
    display: inline-block;
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5em 1em;
    border-radius: 20px;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: calc(100% - 3em);
    gap: 10px;
}

.working-visa p:first-of-type {
    font-size: 1.1em;
    font-weight: 600;
}

.working-visa p:last-of-type {
    font-size: 0.75em;
    font-weight: 400;
}

.apply-btn {
    display: inline-block;
    padding: 0.8em 1.2em;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    font-size: 7em;
    text-align: center;
    width: fit-content;
}