nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1em;
}

span {
    vertical-align: middle;
}

li {
    vertical-align: middle;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}

section {
    margin: 5em auto;
}