.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.ml-05 {
    margin-left: 0.5em;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.mr-05 {
    margin-right: 0.5em;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mb-05 {
    margin-bottom: 0.5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.w-1 {
    width: 1em;
}

.h-1 {
    height: 1em;
}

.f-1 {
    font-size: 1em;
}

.ml-4px {
    margin-left: 4px;
}

.f-6px {
    font-size: 6px;
}

.w-40p {
    width: 40%;
}