$background: #F1F5EB;
$primary: #2437AC;
$secondary: #00B8FF;
$text: #16171A;
$sub-text: #727272;
$white: #FFFFFF;
$black: #000000;

$font-stack: 'Helvetica, Arial, sans-serif';

$base-margin: 16px;
$base-padding: 16px;
