// colors
$background: #F1F5EB;
$primary: #2437AC;
$secondary: #00B8FF;
$text: #16171A;
$sub-text: #727272;
$white: #FFFFFF;
$black: #000000;

// font
$font-stack: 'Helvetica, Arial, sans-serif';
$font-size: 1em;

// spacing
$no-space: 0em;
$sm-space: 0.5em;
$base-space: 0.75em;
$md-space: 1em;
$lg-space: 2em;
