@import 'abstracts/variables';
@import 'abstracts/utilities';
@import 'abstracts/mixins';

@import 'base/reset';

@import 'layout/layout';

@import 'components/button';
@import 'components/card';
@import 'components/title';
@import 'components/text';
@import 'components/icon';

@import 'sections/header';
@import 'sections/why-us';
@import 'sections/countries';
@import 'sections/visa';
@import 'sections/available_countries';
@import 'sections/CTA';
@import 'sections/coaching';
@import 'sections/team';
@import 'sections/testimonial';
@import 'sections/process';
@import 'sections/blogs';
@import 'sections/footer';