@import 'variables';

@import 'mixins';

@import 'base';

@import 'layout';

@import 'components/button';
@import 'components/card';
@import 'components/text';

@import 'sections/header';
@import 'sections/why-us';
@import 'sections/countries';
@import 'sections/visa';
@import 'sections/available_countries';
@import 'sections/CTA';
@import 'sections/coaching';
@import 'sections/team';
@import 'sections/testimonial';
@import 'sections/process';
@import 'sections/blogs';

@import 'utilities';