@mixin flex($direction: row, $justify: space-between, $align: normal, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin title($size: 2rem, $color: inherit, $weight: 700) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: 1.2;

    [class^="icon-"]:before,
    [class^="icon-"]:after {
        color: $color;
    }
}

@mixin icon($size: 4rem, $bg: $secondary, $color: $white, $factor: 0.5) {
    width: $size;
    height: $size;
    background-color: $bg;
    border-radius: 100%;
    padding: 1rem;
    margin: 1rem 0;
    @include flex(row, center, center);

    span {
        font-size: calc($size * $factor);
    }

    [class^="icon-"]:before,
    [class^="icon-"]:after {
        color: $color;
    }
}

@mixin icon-button($bg: $sub-background, $color: $secondary, $border-radius: 100%, $padding: 0) {
    @include icon(2.5rem, $bg, $color);
    border: 1px solid $color;
    border-radius: $border-radius;
    padding: $padding;
    cursor: pointer;
    @include flex(row, center, center);

    &:hover {
        background: $color;
        border: 1px solid $bg;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $bg;
        }
    }

    span {
        @include flex(row, center, center);
        height: fit-content;
        font-size: 0.7rem;
    }
}

@mixin btn($bg-color, $text-color, $size, $border-color: $text-color, $hover: $bg-color) {
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    @include flex(row, center, center);

    [class^="icon-"]:before,
    [class^="icon-"]:after {
        color: $text-color;
    }

    &:hover {
        background-color: $text-color;
        color: $hover;
        border-color: $bg-color;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $hover;
        }
    }

    @if $size ==base {
        padding: 1rem 1.5rem;
        font-size: 1rem;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            font-size: 0.8rem;
        }
    }

    @else {
        padding: 0.8rem 1.2rem;
        font-size: 0.7rem;
        width: fit-content;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            font-size: 0.5rem;
        }
    }
}

@mixin card($border-color: $border, $bg-color: $background, $color: $text, $py: 1rem, $px: 2rem, $width: 32%) {
    border: 1px solid $border-color;
    background-color: $bg-color;
    color: $color;
    padding: $py $px;
    width: $width;
    border-radius: 20px;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint =='mobile' {
        @media (max-width: 600px) {
            @content;
        }
    }

    @else if $breakpoint =='tablet' {
        @media (max-width: 900px) {
            @content;
        }
    }
}