// colors
$white: #FFFFFF;
$black: #121212;
$background: #F1F5EB;
$sub-background: #FFFFFF;
$primary: #2437AC;
$secondary: #00B8FF;
$text: #16171A;
$sub-text: #727272;
$border: #E3DBD8;

$opacity: 30%;

// font
$font-stack: 'Helvetica, Arial, sans-serif';
$font-size: 1rem;

// spacing
$no-space: 0rem;
$sm-space: 0.5rem;
$base-space: 0.75rem;
$md-space: 1rem;
$lg-space: 2rem;