// colors
$background: #F1F5EB;
$primary: #2437AC;
$secondary: #00B8FF;
$text: #16171A;
$sub-text: #727272;
$white: #FFFFFF;
$black: #000000;
$border: #E3DBD8;

$background-dark: #1E1E1E;
$primary-dark: #4D6FFF;
$secondary-dark: #0096CC;
$text-dark: #E5E5E5;
$sub-text-dark: #A0A0A0;
$white-dark: #FFFFFF;
$black-dark: #000000;
$border-dark: #3A3A3A;

// font
$font-stack: 'Helvetica, Arial, sans-serif';
$font-size: 1rem;

// spacing
$no-space: 0rem;
$sm-space: 0.5rem;
$base-space: 0.75rem;
$md-space: 1rem;
$lg-space: 2rem;