// colors
$white: #FFFFFF;
$black: #121212;

$background-light: #F1F5EB;
$primary-light: #2437AC;
$secondary-light: #00B8FF;
$text-light: #16171A;
$sub-text-light: #727272;
$border-light: #E3DBD8;

$background-dark: #292929;
$primary-dark: #4D6FFF;
$secondary-dark: #0096CC;
$text-dark: #E5E5E5;
$sub-text-dark: #A0A0A0;
$border-dark: #3A3A3A;

$background: $background-light;
$primary: $primary-light;
$secondary: $secondary-light;
$text: $text-light;
$sub-text: $sub-text-light;
$border: $border-light;

// font
$font-stack: 'Helvetica, Arial, sans-serif';
$font-size: 1rem;

// spacing
$no-space: 0rem;
$sm-space: 0.5rem;
$base-space: 0.75rem;
$md-space: 1rem;
$lg-space: 2rem;