// colors
$white: #FFFFFF;
$black: #121212;
$background: #272827;
$primary: #0019d3;
$secondary: #0096CC;
$text: #E5E5E5;
$sub-text: #A0A0A0;
$border: #3A3A3A;

// font
$font-stack: 'Helvetica, Arial, sans-serif';
$font-size: 1rem;

// spacing
$no-space: 0rem;
$sm-space: 0.5rem;
$base-space: 0.75rem;
$md-space: 1rem;
$lg-space: 2rem;