@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon.eot?zajgp8');
  src: url('../assets/fonts/icomoon.eot?zajgp8#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?zajgp8') format('truetype'),
    url('../assets/fonts/icomoon.woff?zajgp8') format('woff'),
    url('../assets/fonts/icomoon.svg?zajgp8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e900";
  color: #2437ac;
}

.icon-1:before {
  content: "\e901";
  color: #2437ac;
}

.icon-2:before {
  content: "\e902";
  color: #2437ac;
}

.icon-3:before {
  content: "\e903";
  color: #2437ac;
}

.icon-brochures:before {
  content: "\e904";
  color: #2437ac;
}

.icon-browser:before {
  content: "\e905";
  color: #fff;
}

.icon-calendar:before {
  content: "\e906";
}

.icon-camp:before {
  content: "\e907";
  color: #fff;
}

.icon-currency:before {
  content: "\e908";
  color: #fff;
}

.icon-fb:before {
  content: "\e909";
  color: #00b8ff;
}

.icon-globe:before {
  content: "\e90b";
  color: #fff;
}

.icon-ig:before {
  content: "\e90a";
  color: #2437ac;
}

.icon-in:before {
  content: "\e91f";
  color: #2437ac;
}

.icon-left-arrow:before {
  content: "\e90c";
  color: #fff;
}

.icon-lines-1:before {
  content: "\e90d";
  color: #2437ac;
}

.icon-lines-2:before {
  content: "\e90e";
  color: #2437ac;
}

.icon-link:before {
  content: "\e90f";
  color: #00b8ff;
}

.icon-location:before {
  content: "\e910";
  color: #2437ac;
}

.icon-logo .path1:before {
  content: "\e911";
  color: rgb(36, 55, 172);
}

.icon-logo .path2:before {
  content: "\e912";
  margin-left: -3.849609375em;
  color: rgb(255, 255, 255);
}

.icon-logo .path3:before {
  content: "\e913";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path4:before {
  content: "\e914";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path5:before {
  content: "\e915";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path6:before {
  content: "\e916";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path7:before {
  content: "\e917";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path8:before {
  content: "\e918";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-logo .path9:before {
  content: "\e919";
  margin-left: -3.849609375em;
  color: rgb(36, 55, 172);
}

.icon-passport:before {
  content: "\e91a";
  color: #fff;
}

.icon-phone:before {
  content: "\e91b";
  color: #fff;
}

.icon-play:before {
  content: "\e91c";
  color: #fff;
}

.icon-privacy:before {
  content: "\e91d";
  color: #2437ac;
}

.icon-quotes:before {
  content: "\e91e";
  color: #fff;
}

.icon-right-arrow:before {
  content: "\e920";
  color: #fff;
}

.icon-route:before {
  content: "\e927";
  color: #2437ac;
}

.icon-send:before {
  content: "\e921";
  color: #fff;
}

.icon-tick:before {
  content: "\e922";
  color: #2437ac;
}

.icon-ticket:before {
  content: "\e923";
  color: #fff;
}

.icon-user:before {
  content: "\e924";
}

.icon-wiggly-arrow:before {
  content: "\e925";
  color: #2437ac;
}

.icon-x:before {
  content: "\e926";
  color: #2437ac;
}