@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans'; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: "Helvetica, Arial, sans-serif";
  color: #2437AC;
  width: 100%;
  padding: 2em;
  background-color: #F1F5EB; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav ul {
  display: flex;
  gap: 1em; }

span {
  vertical-align: middle; }

li {
  vertical-align: middle;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25em; }

section {
  margin: 5em auto; }

.contained-btn-sm {
  display: inline-block;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  text-align: center;
  background-color: #00B8FF;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: baseline;
  padding: 0.8em 1.2em;
  font-size: 0.7em;
  width: fit-content; }
  .contained-btn-sm .icon-right-arrow:before {
    color: #FFFFFF; }
  .contained-btn-sm:hover {
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    text-align: center;
    background-color: #FFFFFF;
    color: #00B8FF;
    border: 1px solid #00B8FF;
    display: inline-flex;
    align-items: baseline;
    padding: 0.8em 1.2em;
    font-size: 0.7em;
    width: fit-content; }
    .contained-btn-sm:hover .icon-right-arrow:before {
      color: #00B8FF; }

.contained-btn {
  display: inline-block;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  text-align: center;
  background-color: #00B8FF;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: baseline;
  padding: 1em 1.5em;
  font-size: 1em; }
  .contained-btn .icon-right-arrow:before {
    color: #FFFFFF; }
  .contained-btn:hover {
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    text-align: center;
    background-color: #FFFFFF;
    color: #00B8FF;
    border: 1px solid #00B8FF;
    display: inline-flex;
    align-items: baseline;
    padding: 1em 1.5em;
    font-size: 1em; }
    .contained-btn:hover .icon-right-arrow:before {
      color: #00B8FF; }

.outlined-btn {
  display: inline-block;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: baseline;
  padding: 1em 1.5em;
  font-size: 1em; }
  .outlined-btn .icon-right-arrow:before {
    color: #FFFFFF; }
  .outlined-btn:hover {
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    text-align: center;
    background-color: #FFFFFF;
    color: #2437AC;
    border: 1px solid #2437AC;
    display: inline-flex;
    align-items: baseline;
    padding: 1em 1.5em;
    font-size: 1em; }
    .outlined-btn:hover .icon-right-arrow:before {
      color: #2437AC; }

.outlined-btn-sec {
  display: inline-block;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  text-align: center;
  background-color: transparent;
  color: #00B8FF;
  border: 1px solid #00B8FF;
  display: inline-flex;
  align-items: baseline;
  padding: 1em 1.5em;
  font-size: 1em; }
  .outlined-btn-sec .icon-right-arrow:before {
    color: #00B8FF; }
  .outlined-btn-sec:hover {
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    text-align: center;
    background-color: #00B8FF;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: inline-flex;
    align-items: baseline;
    padding: 1em 1.5em;
    font-size: 1em; }
    .outlined-btn-sec:hover .icon-right-arrow:before {
      color: #FFFFFF; }

.text-btn {
  display: inline-block;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: baseline;
  padding: 1em 1.5em;
  font-size: 1em; }
  .text-btn:hover {
    text-decoration: underline; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  width: 32%;
  border-radius: 20px; }

.card-icon {
  width: 4em;
  height: 4em;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1em;
  margin: 1em 0; }
  .card-icon span {
    font-size: 2em; }

.card-title {
  color: #2437AC;
  font-size: 1.5em;
  font-weight: 700; }

.card-text {
  color: #727272;
  margin: 1em 0; }

.section-title {
  color: #2437AC;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 0.5em;
  font-weight: 700; }

.title {
  font-size: 2.5em;
  font-weight: 700; }

.offerings {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.nav-item {
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase; }

.welcome {
  background-color: #2437AC;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  margin: 1em 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 15em;
  position: relative;
  height: 80vh; }
  .welcome h2 {
    font-weight: 800;
    font-size: 3.5em; }

#eiffel-1,
#eiffel-2 {
  width: 21em;
  position: absolute;
  display: inline-block; }

#eiffel-1 {
  bottom: 0;
  left: 0; }

#eiffel-2 {
  bottom: 0;
  right: 6.5em;
  z-index: 10; }

#man {
  width: 26em;
  position: absolute;
  bottom: 0;
  right: 13.5em;
  z-index: 11;
  display: inline-block; }

#circle {
  width: 28em;
  position: absolute;
  bottom: 0;
  right: 10em;
  display: inline-block; }

.icon-play {
  text-decoration: none;
  padding: 10px 8px 10px 12px;
  border-radius: 100%;
  background-color: #3A4BB4;
  text-align: center; }

.why-us {
  width: 70%;
  display: flex;
  flex-direction: column; }

.why-us-details {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.why-us-images {
  display: flex;
  width: 45%; }

.why-us-images-1,
.why-us-images-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em; }

.exp {
  background-color: #00B8FF;
  color: #FFFFFF;
  display: flex;
  width: 90%;
  border-radius: 20px;
  padding: 2em;
  align-items: center; }

.exp-number {
  font-size: 2em;
  font-weight: 700;
  margin-right: 0.5em; }

.exp-text {
  font-size: 1.2em; }

.why-us-images {
  width: 45%; }
  .why-us-images img {
    width: 90%; }

.why-us-text {
  width: 52%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.why-us-companies {
  margin-top: 4em;
  display: flex;
  justify-content: space-between; }

.why-us-title {
  color: #000000;
  line-height: 90%; }

.why-us-title-primary {
  color: #2437AC; }

.two-cards {
  display: flex;
  justify-content: space-between; }

.why-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  width: 48%;
  border-radius: 20px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column; }

.why-card-head {
  display: flex;
  align-items: center; }

.why-card-title {
  color: #2437AC;
  margin-left: 0.5em;
  font-weight: 700;
  font-size: 1.2em; }

.why-card-text-details {
  color: #727272;
  font-size: 0.9em;
  margin: 0 0 0.5em 0; }

.why-card-text {
  margin: 0 0.5em 0.5em 0;
  color: #727272;
  font-size: 0.9em; }

.why-card-text .icon-tick:before {
  color: #00B8FF;
  margin-right: 0.5em; }

.why-more {
  display: flex;
  align-items: center; }

.why-icon {
  width: 3em;
  height: 3em;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 0.8em; }

.why-icon span {
  font-size: 1.5em;
  text-align: center; }

.help {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center; }

.why-us-image-1-parent {
  position: relative; }

.why-us-image-1-frame {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%; }

.why-card-icon {
  width: 3em;
  height: 3em;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .why-card-icon span {
    font-size: 1.5em; }

.countries-container {
  background-color: #2437AC;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  margin: 1em 0;
  width: 100%;
  display: flex;
  align-items: center; }

.countries .section-title,
.countries .icon-brochures:before {
  color: #FFFFFF; }

.countries {
  width: 70%;
  margin: 5em auto;
  display: flex;
  flex-direction: column; }

.countries-title {
  width: 50%; }

.carousel-icon {
  width: 2em;
  height: 2em;
  background-color: transparent;
  border-radius: 100%;
  padding: 0;
  border: 1px solid #FFFFFF;
  margin: 1em 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content; }

.icon-right-arrow,
.icon-left-arrow {
  height: 50%; }

.carousel-icon .icon-right-arrow:before,
.carousel-icon .icon-left-arrow:before {
  font-size: 0.5em;
  color: #FFFFFF; }

.carousel-icon:hover {
  background-color: #00B8FF;
  border: 1px solid #00B8FF; }

.carousel-icons {
  display: flex;
  gap: 1em;
  justify-content: center; }

.countries-hello {
  display: flex;
  justify-content: space-between;
  align-items: end; }

.countries-imgs-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0 0;
  gap: 15px; }

.canada-img img,
.australia-img img,
.usa-img img,
.sri-lanka-img img {
  height: 100%;
  width: 95%; }

.canada-img,
.australia-img,
.usa-img,
.sri-lanka-img,
.bangladesh-img {
  position: relative; }

.bangladesh-img img {
  height: 100%;
  width: 95%; }

.canada-flag,
.bangladesh-flag,
.australia-flag,
.usa-flag,
.sri-lanka-flag {
  position: absolute;
  top: 20px;
  right: 30px; }

.working-visa {
  display: inline-block;
  background-color: #00B8FF;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1.5em 1em;
  border-radius: 20px;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: calc(100% - 3em);
  gap: 10px; }

.working-visa p:first-of-type {
  font-size: 1.1em;
  font-weight: 600; }

.working-visa p:last-of-type {
  font-size: 0.75em;
  font-weight: 400; }

.apply-btn {
  display: inline-block;
  padding: 0.8em 1.2em;
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.7em;
  text-align: center;
  width: fit-content; }

.visa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%; }

.visa-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em; }

.visa-card {
  border: 1px solid #E3DBD8;
  width: 49%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 2em; }
  .visa-card img {
    width: 40%; }
  .visa-card .card-title {
    font-size: 1.2em; }
  .visa-card .card-text {
    font-size: 0.8em; }
  .visa-card .visa-card-details {
    margin-right: 1em; }
  .visa-card .visa-card-icons {
    display: flex;
    justify-content: space-between; }
  .visa-card .link-container {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #00B8FF;
    padding: 1em;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .visa-card .link-container:hover {
      background-color: #00B8FF;
      border: 1px solid #FFFFFF; }
      .visa-card .link-container:hover .icon-link::before {
        color: white; }
    .visa-card .link-container span {
      font-size: 0.75em; }
  .visa-card .icon-privacy,
  .visa-card .icon-location,
  .visa-card .icon-route,
  .visa-card .icon-flight {
    font-size: 2.5em; }

.available-countries {
  width: 70%; }
  .available-countries .icon-wiggly-arrow {
    font-size: 0.5em; }
  .available-countries .available-title {
    display: flex;
    justify-content: space-between;
    align-items: last baseline; }
  .available-countries .countries-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em; }
    .available-countries .countries-list .available-country {
      border: 1px solid #E3DBD8;
      padding: 2em;
      margin: 1em 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 20px;
      width: 24%;
      gap: 1em; }
      .available-countries .countries-list .available-country img {
        width: 25%; }
      .available-countries .countries-list .available-country .card-title {
        font-size: 1.2em; }
      .available-countries .countries-list .available-country .card-ticks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em; }
        .available-countries .countries-list .available-country .card-ticks .card-tick {
          display: flex;
          justify-content: baseline;
          align-items: center; }
        .available-countries .countries-list .available-country .card-ticks .icon-tick {
          font-size: 0.6em;
          margin-right: 1em; }
        .available-countries .countries-list .available-country .card-ticks .icon-tick::before {
          color: #2437AC; }
        .available-countries .countries-list .available-country .card-ticks p {
          font-size: 0.8em;
          color: #727272; }

@use 'sass:math';
.p-0 {
  padding: 0em; }

.p-05 {
  padding: 0.375em; }

.p-1 {
  padding: 0.75em; }

.p-2 {
  padding: 1.5em; }

.p-4 {
  padding: 3em; }

.p-6 {
  padding: 4.5em; }

.p-8 {
  padding: 6em; }

.pt-0 {
  padding-top: 0em; }

.pt-05 {
  padding-top: 0.375em; }

.pt-1 {
  padding-top: 0.75em; }

.pt-2 {
  padding-top: 1.5em; }

.pt-4 {
  padding-top: 3em; }

.pt-6 {
  padding-top: 4.5em; }

.pt-8 {
  padding-top: 6em; }

.pr-0 {
  padding-right: 0em; }

.pr-05 {
  padding-right: 0.375em; }

.pr-1 {
  padding-right: 0.75em; }

.pr-2 {
  padding-right: 1.5em; }

.pr-4 {
  padding-right: 3em; }

.pr-6 {
  padding-right: 4.5em; }

.pr-8 {
  padding-right: 6em; }

.pb-0 {
  padding-bottom: 0em; }

.pb-05 {
  padding-bottom: 0.375em; }

.pb-1 {
  padding-bottom: 0.75em; }

.pb-2 {
  padding-bottom: 1.5em; }

.pb-4 {
  padding-bottom: 3em; }

.pb-6 {
  padding-bottom: 4.5em; }

.pb-8 {
  padding-bottom: 6em; }

.pl-0 {
  padding-left: 0em; }

.pl-05 {
  padding-left: 0.375em; }

.pl-1 {
  padding-left: 0.75em; }

.pl-2 {
  padding-left: 1.5em; }

.pl-4 {
  padding-left: 3em; }

.pl-6 {
  padding-left: 4.5em; }

.pl-8 {
  padding-left: 6em; }

.m-0 {
  margin: 0em; }

.m-05 {
  margin: 0.375em; }

.m-1 {
  margin: 0.75em; }

.m-2 {
  margin: 1.5em; }

.m-4 {
  margin: 3em; }

.m-6 {
  margin: 4.5em; }

.m-8 {
  margin: 6em; }

.mt-0 {
  margin-top: 0em; }

.mt-05 {
  margin-top: 0.375em; }

.mt-1 {
  margin-top: 0.75em; }

.mt-2 {
  margin-top: 1.5em; }

.mt-4 {
  margin-top: 3em; }

.mt-6 {
  margin-top: 4.5em; }

.mt-8 {
  margin-top: 6em; }

.mr-0 {
  margin-right: 0em; }

.mr-05 {
  margin-right: 0.375em; }

.mr-1 {
  margin-right: 0.75em; }

.mr-2 {
  margin-right: 1.5em; }

.mr-4 {
  margin-right: 3em; }

.mr-6 {
  margin-right: 4.5em; }

.mr-8 {
  margin-right: 6em; }

.mb-0 {
  margin-bottom: 0em; }

.mb-05 {
  margin-bottom: 0.375em; }

.mb-1 {
  margin-bottom: 0.75em; }

.mb-2 {
  margin-bottom: 1.5em; }

.mb-4 {
  margin-bottom: 3em; }

.mb-6 {
  margin-bottom: 4.5em; }

.mb-8 {
  margin-bottom: 6em; }

.ml-0 {
  margin-left: 0em; }

.ml-05 {
  margin-left: 0.375em; }

.ml-1 {
  margin-left: 0.75em; }

.ml-2 {
  margin-left: 1.5em; }

.ml-4 {
  margin-left: 3em; }

.ml-6 {
  margin-left: 4.5em; }

.ml-8 {
  margin-left: 6em; }

.f-xs {
  font-size: 0.25em; }

.f-sm {
  font-size: 0.5em; }

.f-md {
  font-size: 0.75em; }

.f-lg {
  font-size: 2em; }

.f-xl {
  font-size: 4em; }

.w-1 {
  width: 1em; }

.h-1 {
  height: 1em; }

.f-1 {
  font-size: 1em; }

.ml-4px {
  margin-left: 4px; }

.f-6px {
  font-size: 6px; }

.w-40p {
  width: 40%; }

.clickable {
  cursor: pointer; }

.bold {
  font-weight: 700; }

.text-center {
  text-align: center; }
