* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans'; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: "Helvetica, Arial, sans-serif";
  color: #2437AC;
  width: 100%;
  padding: 2em;
  background-color: #F1F5EB; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav ul {
  display: flex;
  gap: 15px; }

span {
  vertical-align: middle; }

li {
  vertical-align: middle;
  cursor: pointer; }

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 150px;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  background-color: #00B8FF; }

.btn:hover {
  color: #00B8FF;
  border: 1px solid #00B8FF;
  background-color: #FFFFFF; }

.outlined-btn {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 150px;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF; }

.outlined-btn:hover {
  background-color: #FFFFFF;
  border: 1px solid #2437AC;
  color: #2437AC; }

.text-btn {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  border: none; }

.text-btn:hover {
  text-decoration: underline; }

.btn:hover span {
  color: #2437AC; }

.nav-item {
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase; }

.clickable {
  cursor: pointer; }

.welcome {
  background-color: #2437AC;
  color: #FFFFFF;
  padding: 0 0 0 15em;
  border-radius: 50px;
  border: none;
  margin: 1em 0;
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center; }

.welcome h2 {
  font-weight: 800;
  font-size: 3.5em; }

#eiffel-1,
#eiffel-2 {
  width: 21em;
  position: absolute;
  display: inline-block; }

#eiffel-1 {
  bottom: 0;
  left: 0; }

#eiffel-2 {
  bottom: 0;
  right: 6.5em;
  z-index: 10; }

#man {
  width: 26em;
  position: absolute;
  bottom: 0;
  right: 13.5em;
  z-index: 11;
  display: inline-block; }

#circle {
  width: 28em;
  position: absolute;
  bottom: 0;
  right: 10em;
  display: inline-block; }

.icon-play {
  padding: 10px 8px 10px 12px;
  border-radius: 100%;
  background-color: #3A4BB4;
  text-align: center; }

.offerings {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  width: 32%;
  border-radius: 20px; }

.card-icon {
  width: 4em;
  height: 4em;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1em;
  margin: 1em 0; }

.card-icon span {
  font-size: 2em; }

.card-title {
  color: #2437AC;
  font-size: 1.5em;
  font-weight: 600; }

.card-text {
  color: #727272;
  margin: 1em 0; }

.why-us {
  width: 70%;
  margin: 5em auto;
  display: flex;
  flex-direction: column; }

.why-us-details {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.why-us-images {
  display: flex;
  width: 45%;
  gap: 1em; }

.why-us-images-1,
.why-us-images-2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
  align-items: center; }

.exp {
  background-color: #00B8FF;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 2em;
  align-items: center; }

.exp-number {
  font-size: 2em;
  font-weight: 700;
  margin-right: 0.5em; }

.exp-text {
  font-size: 1.2em; }

.why-us-images {
  width: 45%; }
  .why-us-images img {
    width: 100%; }

.why-us-text {
  width: 50%; }

.why-us-companies {
  margin-top: 4em;
  display: flex;
  justify-content: space-between; }

.section-title {
  color: #2437AC;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 0.5em;
  font-weight: 700; }

.why-us-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #000000; }

.why-us-title-primary {
  color: #2437AC; }

.mt-1 {
  margin-top: 1em; }

.mt-2 {
  margin-top: 2em; }

.ml-05 {
  margin-left: 0.5em; }

.ml-1 {
  margin-left: 1em; }

.ml-2 {
  margin-left: 2em; }

.mr-05 {
  margin-right: 0.5em; }

.mr-1 {
  margin-right: 1em; }

.mr-2 {
  margin-right: 2em; }

.mb-05 {
  margin-bottom: 0.5em; }

.mb-1 {
  margin-bottom: 1em; }

.mb-2 {
  margin-bottom: 2em; }

.pt-1 {
  padding-top: 1em; }

.pt-2 {
  padding-top: 2em; }

.w-1 {
  width: 1em; }

.h-1 {
  height: 1em; }

.f-1 {
  font-size: 1em; }

.ml-4px {
  margin-left: 4px; }

.f-6px {
  font-size: 6px; }

.w-40p {
  width: 40%; }
