@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.p-0 {
  padding: 0rem;
}

.p-05 {
  padding: 0.375rem;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-4 {
  padding: 3rem;
}

.p-6 {
  padding: 4.5rem;
}

.p-8 {
  padding: 6rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-05 {
  padding-top: 0.375rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 4.5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-05 {
  padding-right: 0.375rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 4.5rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-05 {
  padding-bottom: 0.375rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4.5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-05 {
  padding-left: 0.375rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 4.5rem;
}

.pl-8 {
  padding-left: 6rem;
}

.m-0 {
  margin: 0rem;
}

.m-05 {
  margin: 0.375rem;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-4 {
  margin: 3rem;
}

.m-6 {
  margin: 4.5rem;
}

.m-8 {
  margin: 6rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-05 {
  margin-top: 0.375rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 4.5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-05 {
  margin-right: 0.375rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 4.5rem;
}

.mr-8 {
  margin-right: 6rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-05 {
  margin-bottom: 0.375rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-05 {
  margin-left: 0.375rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 4.5rem;
}

.ml-8 {
  margin-left: 6rem;
}

.f-xs {
  font-size: 0.25rem;
}

.f-sm {
  font-size: 0.5rem;
}

.f-md {
  font-size: 0.75rem;
}

.f-lg {
  font-size: 2rem;
}

.f-xl {
  font-size: 4rem;
}

.w-1 {
  width: 1rem;
}

.h-1 {
  height: 1rem;
}

.w-40p {
  width: 40%;
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  transition: all 150ms linear;
}

body,
html {
  width: 100%;
}

body {
  font-family: "Helvetica, Arial, sans-serif";
  color: #2437AC;
  padding: 2rem 2rem 0 2rem;
  background-color: #F1F5EB;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}
nav ul li {
  vertical-align: middle;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

section {
  margin: 5rem auto;
}

.countries-hello {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 0;
  flex-wrap: nowrap;
}

.carousel-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}

.contained-btn-sm {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: #00B8FF;
  color: #F1F5EB;
  border: 1px solid #F1F5EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0.8rem 1.2rem;
  font-size: 0.7rem;
  width: fit-content;
}
.contained-btn-sm [class^=icon-]:before,
.contained-btn-sm [class^=icon-]:after {
  color: #F1F5EB;
}
.contained-btn-sm:hover {
  background-color: #F1F5EB;
  color: #00B8FF;
  border-color: #00B8FF;
}
.contained-btn-sm:hover [class^=icon-]:before,
.contained-btn-sm:hover [class^=icon-]:after {
  color: #00B8FF;
}
.contained-btn-sm [class^=icon-]:before,
.contained-btn-sm [class^=icon-]:after {
  font-size: 0.5rem;
}

.contained-btn {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: #00B8FF;
  color: #F1F5EB;
  border: 1px solid #F1F5EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.contained-btn [class^=icon-]:before,
.contained-btn [class^=icon-]:after {
  color: #F1F5EB;
}
.contained-btn:hover {
  background-color: #F1F5EB;
  color: #00B8FF;
  border-color: #00B8FF;
}
.contained-btn:hover [class^=icon-]:before,
.contained-btn:hover [class^=icon-]:after {
  color: #00B8FF;
}
.contained-btn [class^=icon-]:before,
.contained-btn [class^=icon-]:after {
  font-size: 0.8rem;
}

.outlined-btn {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: #2437AC;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.outlined-btn [class^=icon-]:before,
.outlined-btn [class^=icon-]:after {
  color: #FFFFFF;
}
.outlined-btn:hover {
  background-color: #FFFFFF;
  color: #2437AC;
  border-color: #2437AC;
}
.outlined-btn:hover [class^=icon-]:before,
.outlined-btn:hover [class^=icon-]:after {
  color: #2437AC;
}
.outlined-btn [class^=icon-]:before,
.outlined-btn [class^=icon-]:after {
  font-size: 0.8rem;
}

.outlined-btn-sec-bg {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: #F1F5EB;
  color: #00B8FF;
  border: 1px solid #00B8FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.outlined-btn-sec-bg [class^=icon-]:before,
.outlined-btn-sec-bg [class^=icon-]:after {
  color: #00B8FF;
}
.outlined-btn-sec-bg:hover {
  background-color: #00B8FF;
  color: #F1F5EB;
  border-color: #F1F5EB;
}
.outlined-btn-sec-bg:hover [class^=icon-]:before,
.outlined-btn-sec-bg:hover [class^=icon-]:after {
  color: #F1F5EB;
}
.outlined-btn-sec-bg [class^=icon-]:before,
.outlined-btn-sec-bg [class^=icon-]:after {
  font-size: 0.8rem;
}

.outlined-btn-sec {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: #FFFFFF;
  color: #00B8FF;
  border: 1px solid #00B8FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.outlined-btn-sec [class^=icon-]:before,
.outlined-btn-sec [class^=icon-]:after {
  color: #00B8FF;
}
.outlined-btn-sec:hover {
  background-color: #00B8FF;
  color: #F1F5EB;
  border-color: #FFFFFF;
}
.outlined-btn-sec:hover [class^=icon-]:before,
.outlined-btn-sec:hover [class^=icon-]:after {
  color: #F1F5EB;
}
.outlined-btn-sec [class^=icon-]:before,
.outlined-btn-sec [class^=icon-]:after {
  font-size: 0.8rem;
}

.text-btn {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.text-btn [class^=icon-]:before,
.text-btn [class^=icon-]:after {
  color: #FFFFFF;
}
.text-btn:hover {
  background-color: #FFFFFF;
  color: transparent;
  border-color: transparent;
}
.text-btn:hover [class^=icon-]:before,
.text-btn:hover [class^=icon-]:after {
  color: transparent;
}
.text-btn [class^=icon-]:before,
.text-btn [class^=icon-]:after {
  font-size: 0.8rem;
}
.text-btn:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  background-color: transparent;
  color: #FFFFFF;
}
.text-btn:hover [class^=icon-]:before,
.text-btn:hover [class^=icon-]:after {
  color: #FFFFFF;
}

.text-btn--prim {
  border-radius: 150px;
  cursor: pointer;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: transparent;
  color: #2437AC;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0.8rem 1.2rem;
  font-size: 0.7rem;
  width: fit-content;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
.text-btn--prim [class^=icon-]:before,
.text-btn--prim [class^=icon-]:after {
  color: #2437AC;
}
.text-btn--prim:hover {
  background-color: #2437AC;
  color: transparent;
  border-color: transparent;
}
.text-btn--prim:hover [class^=icon-]:before,
.text-btn--prim:hover [class^=icon-]:after {
  color: transparent;
}
.text-btn--prim [class^=icon-]:before,
.text-btn--prim [class^=icon-]:after {
  font-size: 0.5rem;
}
.text-btn--prim span {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 0;
  flex-wrap: nowrap;
}
.text-btn--prim:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  background-color: transparent;
  color: #2437AC;
}
.text-btn--prim:hover [class^=icon-]:before,
.text-btn--prim:hover [class^=icon-]:after {
  color: #2437AC;
}

.card {
  border: 1px solid #E3DBD8;
  background-color: #F1F5EB;
  color: #16171A;
  padding: 1rem 2rem;
  width: 32%;
  border-radius: 20px;
}

.card--md {
  border: 1px solid #E3DBD8;
  background-color: #F1F5EB;
  color: #727272;
  padding: 1rem 1rem;
  width: 49%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.card--sm {
  border: 1px solid #E3DBD8;
  background-color: #F1F5EB;
  color: #16171A;
  padding: 1rem 1rem;
  width: 48%;
  border-radius: 20px;
}

.card--vert {
  border: 1px solid #E3DBD8;
  background-color: #F1F5EB;
  color: #16171A;
  padding: 2rem 2rem;
  width: 24%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 1rem;
  flex-wrap: nowrap;
}

.page__title {
  font-size: 3.5rem;
  color: inherit;
  font-weight: 800;
  line-height: 1.2;
}
.page__title [class^=icon-]:before,
.page__title [class^=icon-]:after {
  color: inherit;
}

.card__title {
  font-size: 1.5rem;
  color: #2437AC;
  font-weight: 700;
  line-height: 1.2;
}
.card__title [class^=icon-]:before,
.card__title [class^=icon-]:after {
  color: #2437AC;
}

.card__title--md {
  font-size: 1.2rem;
  color: #2437AC;
  font-weight: 700;
  line-height: 1.2;
}
.card__title--md [class^=icon-]:before,
.card__title--md [class^=icon-]:after {
  color: #2437AC;
}

.card__title--md--white {
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.2;
}
.card__title--md--white [class^=icon-]:before,
.card__title--md--white [class^=icon-]:after {
  color: #FFFFFF;
}

.card__title--base {
  font-size: 1rem;
  color: #2437AC;
  font-weight: 700;
  line-height: 1.2;
}
.card__title--base [class^=icon-]:before,
.card__title--base [class^=icon-]:after {
  color: #2437AC;
}

.card__title--sm {
  font-size: 0.8rem;
  color: #2437AC;
  font-weight: 700;
  line-height: 1.2;
}
.card__title--sm [class^=icon-]:before,
.card__title--sm [class^=icon-]:after {
  color: #2437AC;
}

.section__title {
  font-size: 2.5rem;
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
}
.section__title [class^=icon-]:before,
.section__title [class^=icon-]:after {
  color: inherit;
}

.section__title--black {
  font-size: 2.5rem;
  color: #16171A;
  font-weight: 700;
  line-height: 1.2;
}
.section__title--black [class^=icon-]:before,
.section__title--black [class^=icon-]:after {
  color: #16171A;
}

.section__title--sub-bg {
  font-size: 2.5rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.2;
}
.section__title--sub-bg [class^=icon-]:before,
.section__title--sub-bg [class^=icon-]:after {
  color: #FFFFFF;
}

.section__title--head {
  font-size: 0.8rem;
  color: #2437AC;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.section__title--head [class^=icon-]:before,
.section__title--head [class^=icon-]:after {
  color: #2437AC;
}

.section__title--head--white {
  font-size: 0.8rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.section__title--head--white [class^=icon-]:before,
.section__title--head--white [class^=icon-]:after {
  color: #FFFFFF;
}

.footer__title {
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.2;
}
.footer__title [class^=icon-]:before,
.footer__title [class^=icon-]:after {
  color: #FFFFFF;
}

.card__text {
  color: #727272;
  margin: 1rem 0;
}

.card--sm__text {
  margin: 0 0.5rem 0.5rem 0;
  color: #727272;
  font-size: 0.8rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon span {
  font-size: 2rem;
}
.icon [class^=icon-]:before,
.icon [class^=icon-]:after {
  color: #FFFFFF;
}

.icon--md {
  width: 3rem;
  height: 3rem;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon--md span {
  font-size: 1.5rem;
}
.icon--md [class^=icon-]:before,
.icon--md [class^=icon-]:after {
  color: #FFFFFF;
}

.icon--sm {
  width: 2rem;
  height: 2rem;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon--sm span {
  font-size: 1rem;
}
.icon--sm [class^=icon-]:before,
.icon--sm [class^=icon-]:after {
  color: #FFFFFF;
}

.icon--md--text-sm {
  width: 3rem;
  height: 3rem;
  background-color: #00B8FF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon--md--text-sm span {
  font-size: 1.05rem;
}
.icon--md--text-sm [class^=icon-]:before,
.icon--md--text-sm [class^=icon-]:after {
  color: #FFFFFF;
}

.icon-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  border: 1px solid #00B8FF;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon-button span {
  font-size: 1.25rem;
}
.icon-button [class^=icon-]:before,
.icon-button [class^=icon-]:after {
  color: #00B8FF;
}
.icon-button:hover {
  background: #00B8FF;
  border: 1px solid #FFFFFF;
}
.icon-button:hover [class^=icon-]:before,
.icon-button:hover [class^=icon-]:after {
  color: #FFFFFF;
}
.icon-button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: fit-content;
  font-size: 0.7rem;
}

.icon-button--invert {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  border: 1px solid #00B8FF;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon-button--invert span {
  font-size: 1.25rem;
}
.icon-button--invert [class^=icon-]:before,
.icon-button--invert [class^=icon-]:after {
  color: #00B8FF;
}
.icon-button--invert:hover {
  background: #00B8FF;
  border: 1px solid #FFFFFF;
}
.icon-button--invert:hover [class^=icon-]:before,
.icon-button--invert:hover [class^=icon-]:after {
  color: #FFFFFF;
}
.icon-button--invert span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: fit-content;
  font-size: 0.7rem;
}

.icon-button--primary {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #2437AC;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.icon-button--primary span {
  font-size: 1.25rem;
}
.icon-button--primary [class^=icon-]:before,
.icon-button--primary [class^=icon-]:after {
  color: #FFFFFF;
}
.icon-button--primary:hover {
  background: #FFFFFF;
  border: 1px solid #2437AC;
}
.icon-button--primary:hover [class^=icon-]:before,
.icon-button--primary:hover [class^=icon-]:after {
  color: #2437AC;
}
.icon-button--primary span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: fit-content;
  font-size: 0.7rem;
}

.icon-button-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  border: 1px solid #00B8FF;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: 50%;
  width: fit-content;
}
.icon-button-link span {
  font-size: 1.25rem;
}
.icon-button-link [class^=icon-]:before,
.icon-button-link [class^=icon-]:after {
  color: #00B8FF;
}
.icon-button-link:hover {
  background: #00B8FF;
  border: 1px solid transparent;
}
.icon-button-link:hover [class^=icon-]:before,
.icon-button-link:hover [class^=icon-]:after {
  color: transparent;
}
.icon-button-link span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: fit-content;
  font-size: 0.7rem;
}
.icon-button-link:hover .icon-link:before {
  color: #FFFFFF;
}

.preferences {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  position: fixed;
  right: 0;
  top: 40%;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.preferences button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  background-color: #F1F5EB;
  border: 1px solid #E3DBD8;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}
.preferences button [class^=icon-]::after,
.preferences button [class^=icon-]::before {
  color: #16171A;
}
.preferences button:hover {
  background-color: #00B8FF;
}
.preferences button:active {
  width: 2.5rem;
}

.offerings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin: 2rem 0 0;
}

.nav-item {
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
}

.welcome {
  background-color: #2437AC;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0 0 0 15rem;
  position: relative;
  height: 80vh;
  color: #FFFFFF;
}

#eiffel-1,
#eiffel-2 {
  width: 21rem;
  position: absolute;
  display: inline-block;
}

#eiffel-1 {
  bottom: 0;
  left: 0;
}

#eiffel-2 {
  bottom: 0;
  right: 6.5rem;
  z-index: 10;
}

#man {
  width: 26rem;
  position: absolute;
  bottom: 0;
  right: 13.5rem;
  z-index: 11;
  display: inline-block;
}

#circle {
  width: 28rem;
  position: absolute;
  bottom: 0;
  right: 10rem;
  display: inline-block;
}

.icon-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  text-decoration: none;
  padding: 0.6rem 0.5rem 0.6rem 0.75rem;
  border-radius: 100%;
  background-color: #00B8FF;
  text-align: center;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 1px;
  flex-wrap: nowrap;
}

.why-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: 70%;
}
.why-us .why-us-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
.why-us .why-us-details .why-us-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: 45%;
}
.why-us .why-us-details .why-us-images img {
  width: 90%;
}
.why-us .why-us-details .why-us-images .why-us-images-1,
.why-us .why-us-details .why-us-images .why-us-images-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.why-us .why-us-details .why-us-images .why-us-image-1-parent {
  position: relative;
}
.why-us .why-us-details .why-us-images .why-us-image-1-frame {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
}
.why-us .why-us-details .why-us-images .exp {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  background-color: #00B8FF;
  color: #FFFFFF;
  width: 90%;
  border-radius: 20px;
  padding: 2rem;
}
.why-us .why-us-details .why-us-images .exp .exp-number {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.why-us .why-us-details .why-us-images .exp .exp-text {
  font-size: 1.2rem;
}
.why-us .why-us-details .why-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0.5rem;
  flex-wrap: nowrap;
  width: 52%;
}
.why-us .why-us-details .why-us-text .two-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
}
.why-us .why-us-details .why-us-text .two-cards .why-card-head {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.why-us .why-us-details .why-us-text .two-cards .icon-tick:before {
  color: #00B8FF;
  margin-right: 0.5rem;
}
.why-us .why-us-details .why-us-text .why-more {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.why-us .why-us-details .why-us-text .why-more .help {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: left;
  gap: 0;
  flex-wrap: nowrap;
  margin-left: 1rem;
}
.why-us .why-us-companies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  margin-top: 4rem;
}

.countries {
  background-color: #2437AC;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.countries .countries-container {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
}
.countries .countries-container .countries-imgs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
  padding: 2rem 0 0;
}
.countries .countries-container .countries-imgs-container [class$=-img] {
  position: relative;
}
.countries .countries-container .countries-imgs-container [class$=-img] img {
  height: 100%;
  width: 100%;
}
.countries .countries-container .countries-imgs-container [class$=-img] [class$=-flag] {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
}
.countries .countries-container .countries-imgs-container .working-visa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0.6rem;
  flex-wrap: nowrap;
  background-color: #00B8FF;
  color: #FFFFFF;
  margin: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 3rem);
}
.countries .countries-container .countries-imgs-container .working-visa p:last-of-type {
  font-size: 0.75rem;
  font-weight: 400;
}

.visa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: 70%;
}
.visa .visa-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
  flex-wrap: wrap;
}

.card--md img {
  width: 40%;
}
.card--md .card__text {
  font-size: 0.8rem;
}
.card--md .visa-card-details {
  margin-right: 1rem;
}
.card--md .visa-card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.card--md .visa-card-icons span[class^=icon-]:not(.icon-link):before {
  color: #2437AC;
}
.card--md [class^=icon]:not(.icon-link) {
  font-size: 2.5rem;
}

.available-countries {
  width: 70%;
}
.available-countries .icon-wiggly-arrow {
  font-size: 0.5rem;
}
.available-countries .available-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
  gap: 0;
  flex-wrap: nowrap;
}
.available-countries .countries-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.available-countries .countries-list .card--vert img {
  width: 3rem;
}
.available-countries .countries-list .card--vert .card-ticks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 1rem;
  flex-wrap: nowrap;
}
.available-countries .countries-list .card--vert .card-ticks .card-tick {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.available-countries .countries-list .card--vert .card-ticks .icon-tick {
  font-size: 0.6rem;
  margin-right: 1rem;
}
.available-countries .countries-list .card--vert .card-ticks .icon-tick::before {
  color: #2437AC;
}
.available-countries .countries-list .card--vert .card-ticks p {
  font-size: 0.8rem;
  color: #727272;
}

.CTA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 70%;
}
.CTA .CTA-img {
  width: 35%;
  height: auto;
}
.CTA .CTA-img img {
  height: 100%;
  object-fit: cover;
}
.CTA .side-CTA {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
}
.CTA .side-CTA .CTA-offers {
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
}
.CTA .side-CTA .CTA-offers img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}
.CTA .side-CTA .CTA-offers .CTA-offers-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem;
  background-color: #FFFFFF;
}
.CTA .side-CTA .CTA-stats {
  border-radius: 20px;
  background-color: #00B8FF;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2.5rem 1.5rem;
}
.CTA .side-CTA .CTA-stats .CTA-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  text-align: center;
  color: #FFFFFF;
}
.CTA .side-CTA .CTA-stats .CTA-stat .CTA-number {
  font-size: 2.2rem;
  font-weight: 700;
}
.CTA .side-CTA .CTA-stats .CTA-stat .CTA-desc {
  font-size: 0.7rem;
  font-weight: 400;
}

.coaching {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
}
.coaching .coaching-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 100%;
}
.coaching .coaching-categories .coaching-category {
  position: relative;
}
.coaching .coaching-categories .coaching-category img {
  width: 100%;
}
.coaching .coaching-categories .coaching-category .coaching-details {
  background-color: #FFFFFF;
  border-radius: 20px 0 20px 20px;
  bottom: -4rem;
  right: 0;
  width: 95%;
  padding: 1.5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  color: #2437AC;
  border-radius: 50px;
  border: none;
  margin: 10rem 0 5rem 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.team .teams-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 30%;
}
.team .team-container {
  z-index: 2;
  width: 70%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
}
.team .team-container .team-details {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
}
.team .team-container .team-details .team-text {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5rem;
  flex-wrap: nowrap;
  width: 70%;
  flex: 2;
}
.team .team-container .team-details .team-text .team-object {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  border: 1px solid #E3DBD8;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 20px;
  z-index: 3;
  background-color: #FFFFFF;
}
.team .team-container .team-details .team-text .team-object .team-object-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: normal;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.team .team-container .team-details .team-text .team-object .team-object-text .card__text {
  margin: 0;
}
.team .team-container .team-details .team-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 30%;
}
.team .team-container .team-details .team-img .social-media {
  position: absolute;
  margin: auto;
  bottom: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.team .team-container .team-details .team-img .social-media [class^=icon-]:before,
.team .team-container .team-details .team-img .social-media [class^=icon-]:after {
  color: #2437AC;
}
.team .team-container .team-details .team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .team-container .team-details .team-img a {
  text-decoration: none;
}

.testimonial {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}
.testimonial .testimonial-img {
  width: 40%;
}
.testimonial .testimonial-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial .testimonial-details {
  border: 1px solid #00B8FF;
  background-color: #00B8FF;
  color: #FFFFFF;
  padding: 3rem 3rem;
  width: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
}
.testimonial .testimonial-details .icon-quotes::before {
  color: #FFFFFF;
}
.testimonial .testimonial-details .icon-quotes {
  font-size: 2rem;
}
.testimonial .testimonial-details .testimonial-text {
  font-size: 1.5rem;
}
.testimonial .testimonial-details .testimonial-contact {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.testimonial .testimonial-details .testimonial-contact img {
  transform: scale(0.8);
}
.testimonial .testimonial-details .testimonial-contact .testimonial-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.testimonial .testimonial-details .testimonial-contact .testimonial-contact-details .testimonial-name {
  font-weight: 700;
}
.testimonial .testimonial-details .testimonial-contact .testimonial-contact-details .testimonial-pos {
  font-size: 0.8rem;
}
.testimonial .testimonial-details .testimonial-nav {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.testimonial .testimonial-details .testimonial-nav hr {
  border: 1px solid #FFFFFF;
  width: 100%;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  color: #2437AC;
  border-radius: 50px;
  border: none;
  margin: 10rem 0 5rem 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.process .process-shape {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 30%;
  position: absolute;
}
.process .process-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  z-index: 2;
  width: 70%;
  margin: 4rem auto;
}
.process .process-container .process-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
}
.process .process-container .process-cards .process-card {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 5px 0px lightgray;
  border: 1px solid #E3DBD8;
  background-color: #FFFFFF;
  color: #16171A;
  padding: 2rem 2rem;
  width: 32%;
  border-radius: 20px;
}
.process .process-container .process-cards .process-card span {
  font-size: 2rem;
}
.process .process-container .process-cards .process-card [class^=icon]:before {
  color: #2437AC;
}
.process .process-container .process-cards .process-card .process-card-text {
  font-size: 0.8rem;
  color: #16171A;
}
.process .process-container .process-cards .process-card-down {
  margin: 2rem 0 0 0;
}

.blogs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 70%;
}
.blogs .blogs-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
.blogs .blogs-list .blog {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 32%;
  border: 1px solid #E3DBD8;
  border-radius: 20px;
}
.blogs .blogs-list .blog .blog-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 2rem;
}
.blogs .blogs-list .blog .blog-info .blog-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  color: #16171A;
  font-size: 0.8rem;
}
.blogs .blogs-list .blog .blog-info .blog-details [class^=icon]:before {
  color: #16171A;
}
.blogs .blogs-list .blog .blog-info .blog-details .date,
.blogs .blogs-list .blog .blog-info .blog-details .admin {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: nowrap;
}
.blogs .blogs-list .blog .blog-info .blog-details .date p,
.blogs .blogs-list .blog .blog-info .blog-details .date span,
.blogs .blogs-list .blog .blog-info .blog-details .admin p,
.blogs .blogs-list .blog .blog-info .blog-details .admin span {
  font-size: 0.8rem;
}
.blogs .blogs-list .blog .blog-info .blog-text {
  font-size: 0.8rem;
  color: #727272;
}
.blogs .blogs-list .blog img {
  width: 20rem;
}

footer {
  background-color: #2437AC;
  color: #FFFFFF;
  position: relative;
  left: -2rem;
  width: calc(100% + 4rem);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
}
footer .footer-map {
  position: relative;
  overflow: hidden;
}
footer .footer-shape {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
}
footer .footer-qs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  width: calc(70% - 4rem);
  margin: 0 auto;
  padding: 1rem 0;
}
footer .footer-qs .vertical-line {
  margin: 0 1rem;
  border: 1px solid white;
  opacity: 0.2;
}
footer .footer-qs .footer-qs-object {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
footer .footer-qs .footer-qs-object p {
  font-size: 1.5rem;
}
footer .footer-links {
  font-size: 0.8rem;
  width: calc(70% - 4rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem 0;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  position: inherit;
  z-index: 2;
}
footer .footer-links .footer-links-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 22%;
  padding: 3rem 0;
}
footer .footer-links .footer-links-col .email {
  background-color: #121212;
  border-radius: 999px;
  height: 3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
footer .footer-links .footer-links-col .email p {
  margin: 1rem;
  color: #FFFFFF;
}
footer .footer-links .footer-links-col .email .icon-send-container {
  position: absolute;
  right: 0;
  background-color: #00B8FF;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
footer .footer-links .footer-links-col .footer-links-col-content {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}
footer .footer-links .footer-links-col .footer-links-col-content p {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
footer .footer-links .footer-links-col .footer-links-col-content .icon-tick {
  font-size: 0.7rem;
  margin-right: 1rem;
}
footer .footer-links .footer-links-col img {
  width: 50%;
}
footer .footer-links .footer-links-col .social-media {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}
footer .footer-links .footer-links-col .social-media .icon-x:before,
footer .footer-links .footer-links-col .social-media .icon-fb:before,
footer .footer-links .footer-links-col .social-media .icon-ig:before,
footer .footer-links .footer-links-col .social-media .icon-in:before {
  color: white;
}
footer .footer-policy {
  position: inherit;
  z-index: 2;
  width: calc(70% - 4rem);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}
footer .footer-policy .footer-policy-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
  flex-wrap: nowrap;
}
footer .footer-policy a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
