.contained-btn-sm {
    @include btn($secondary, $white, small);
}

.contained-btn {
    @include btn($secondary, $white, base);
}

.outlined-btn {
    @include btn($primary, $white, base);
}

.outlined-btn-sec {
    @include btn(transparent, $secondary, base, $secondary, white);
}

.text-btn {
    @include btn(transparent, $white, base, transparent);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: white;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $white;
        }
    }
}

.text-btn--prim {
    @include btn(transparent, $primary, small, transparent);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    text-align: center;

    span {
        @include flex(row, end, end);
    }

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: $primary;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $primary;
        }
    }
}