@mixin btn($bg-color, $text-color, $size, $border-color: $text-color) {
    border-radius: 150px;
    cursor: pointer;
    font-weight: 400;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @if $size ==base {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    @else {
        padding: 0.8rem 1.2rem;
        font-size: 0.7rem;
        width: fit-content;
    }
}

.contained-btn-sm {
    @include btn($secondary, $white, small);

    .icon-right-arrow:before {
        color: $white;
    }

    &:hover {
        @include btn($white, $secondary, small);

        .icon-right-arrow:before {
            color: $secondary;
        }
    }
}

.contained-btn {
    @include btn($secondary, $white, base);

    .icon-right-arrow:before {
        color: $white;
    }

    &:hover {
        @include btn($white, $secondary, base);

        .icon-right-arrow:before {
            color: $secondary;
        }
    }
}

.outlined-btn {
    @include btn(transparent, $white, base);

    .icon-right-arrow:before {
        color: $white;
    }

    &:hover {
        @include btn($white, $primary, base);

        .icon-right-arrow:before {
            color: $primary;
        }
    }
}

.outlined-btn-sec {
    @include btn(transparent, $secondary, base);

    .icon-right-arrow:before {
        color: $secondary;
    }

    &:hover {
        @include btn($secondary, $white, base);

        .icon-right-arrow:before {
            color: $white;
        }
    }
}


.text-btn {
    @include btn(transparent, $white, base, transparent);

    &:hover {
        text-decoration: underline;
    }
}