.contained-btn-sm {
    @include btn(var(--secondary), var(--background), small);
}

.contained-btn {
    @include btn(var(--secondary), var(--background), base);
}

.outlined-btn {
    @include btn(var(--primary), var(--sub-background), base);

    @include respond-to(mobile) {
        @include btn(var(--primary), var(--sub-background), small);
    }
}

.outlined-btn-sec-bg {
    @include btn(var(--background), var(--secondary), base, var(--secondary), var(--background));
}

.outlined-btn-sec {
    @include btn(var(--sub-background), var(--secondary), base, var(--secondary), var(--background));
}

.text-btn {
    @include btn(transparent, var(--sub-background), base, transparent);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: var(--sub-background);

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: var(--sub-background);
        }
    }

    @include respond-to(mobile) {
        @include btn(transparent, var(--sub-background), small, transparent);

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.25rem;
            background-color: transparent;
            color: var(--sub-background);

            [class^="icon-"]:before,
            [class^="icon-"]:after {
                color: var(--sub-background);
            }
        }
    }
}

.text-btn--prim {
    @include btn(transparent, var(--primary), small, transparent);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    text-align: center;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: var(--primary);

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: var(--primary);
        }
    }
}