.contained-btn-sm {
    @include btn($secondary, $background, small);
}

.contained-btn {
    @include btn($secondary, $background, base);
}

.outlined-btn {
    @include btn($primary, $sub-background, base);

    @include respond-to(mobile) {
        @include btn($primary, $sub-background, small);
    }
}

.outlined-btn-sec-bg {
    @include btn($background, $secondary, base, $secondary, $background);
}

.outlined-btn-sec {
    @include btn($sub-background, $secondary, base, $secondary, $background);
}

.text-btn {
    @include btn(transparent, $sub-background, base, transparent);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: $sub-background;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $sub-background;
        }
    }

    @include respond-to(mobile) {
        @include btn(transparent, $sub-background, small    , transparent);
    }
}

.text-btn--prim {
    @include btn(transparent, $primary, small, transparent);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    text-align: center;

    span {
        @include flex(row, end, end);
    }

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        background-color: transparent;
        color: $primary;

        [class^="icon-"]:before,
        [class^="icon-"]:after {
            color: $primary;
        }
    }
}