.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
    width: 32%;
    border-radius: 20px;
}

.card-icon {
    width: 4em;
    height: 4em;
    background-color: $secondary;
    border-radius: 100%;
    padding: 1em;
    margin: 1em 0;

    span {
        font-size: 2em;
    }
}

.card-title {
    color: $primary;
    font-size: 1.5em;
    font-weight: 700;
}

.card-text {
    color: $sub-text;
    margin: 1em 0;
}