.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    width: 32%;
    border-radius: 20px;
}

.card-icon {
    width: 4rem;
    height: 4rem;
    background-color: $secondary;
    border-radius: 100%;
    padding: 1rem;
    margin: 1rem 0;

    span {
        font-size: 2rem;
    }
}

.card-title {
    color: $primary;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-text {
    color: $sub-text;
    margin: 1rem 0;
}