.card {
    @include card();
}

.card--md {
    @include card($border, $background, $sub-text, 1rem, 1rem, 49%);
    @include flex(row, space-between, center, 2rem);
}

.card--sm {
    @include card($border, $background, $text, 1rem, 1rem, 48%)
}

.card--vert {
    @include card($border, $background, $text, 2rem, 2rem, 24%);
    @include flex(column, space-evenly, start, 1rem);
}