.icon-button {
    @include icon-button;
}

.icon-button--invert {
    @include icon-button($white, $secondary);
}

.icon-button-link {
    @include icon-button(transparent, $secondary, 1rem, 1rem);
    height: 50%;
    width: fit-content;

    &:hover {
        .icon-link:before {
            color: white;
        }
    }
}