.preferences {
    @include flex(column, normal, center);
    position: fixed;
    right: 0;
    top: 40%;
    margin: 0;
    padding: 0;
    z-index: 5;

    .preference__button {
        @include flex(column, center, center);
        background-color: var(--background);
        border: 1px solid var(--border);
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        margin: 0;
        padding: 0;

        [class^="icon-"]::after,
        [class^="icon-"]::before {
            color: var(--text);
        }

        &:hover {
            background-color: var(--secondary);
        }

        &:active {
            width: 2.5rem;
        }
    }
}