.navbar {
    @include flex(row, space-between, center);

    .navbar__ul {
        @include flex(row, normal, normal, 1rem);

        .nav-item {
            cursor: pointer;
            text-transform: uppercase;
        }

        .navbar__link,
        .navbar__link:visited {
            color: var(--primary);
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;

            [class^="icon-"]::before {
                color: var(--primary)
            }
        }

        @include respond-to(mobile) {
            @include flex(row, space-evenly, center, 1rem, wrap);
            width: 80%;
        }
    }

    @include respond-to(mobile) {
        @include flex(column, normal, center, 1rem, wrap);
    }
}

.countries-hello {
    @include flex(row, space-between, end);
}

.carousel-icons {
    @include flex(row, center, normal, 1rem);
}

.skip-link {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 20rem;
    height: 4rem;
    padding: 1rem;
    margin: 0 0 4rem 0;
    clip-path: ellipse(15rem 4rem at 0% 0%);
    background-color: var(--primary);
    color: var(--background);
    transition: top 0.3s ease-in-out;
    text-decoration: none;

    &:focus {
        top: 0;
        z-index: 100;
    }
}