nav {
    @include flex(row, space-between, center);

    ul {
        @include flex(row, normal, normal, 1rem);

        li {
            vertical-align: middle;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
        }

        @include respond-to(mobile) {
            @include flex(row, space-evenly, center, 1rem, wrap);
            width: 80%;
        }
    }

    @include respond-to(mobile) {
        @include flex(column, normal, center, 1rem, wrap);
    }
}

section {
    margin: 5rem auto;

    @include respond-to(mobile) {
        margin: 2rem auto;
    }
}

.countries-hello {
    @include flex(row, space-between, end);
}

.carousel-icons {
    @include flex(row, center, normal, 1rem);
}